@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
  font-family: "Nunito" !important;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

a {
  color: #ffffff !important;
  text-decoration: none !important;
}

a:hover {
  color: #a4a8ab !important;
}

a:active {
  color: #5868de !important;
}
